@page "/container/{name}"
@inject ApiService Api
@inject NavigationManager _nav

@if (container == null) {
	<h1>@name</h1>
} else {
	<h1>@name (@container.State)</h1>
}
<div style="display: flex;">
    @* General info *@
    <div style="flex: 1; display: flex;">
        <div style="margin-right: 2rem;">
            <p style="font-weight: bold;">Name: </p>
            <p style="font-weight: bold;">Image: </p>
            <p style="font-weight: bold;">Ports: </p>
            <p style="font-weight: bold;">Env: </p>
        </div>
        @if (container == null) {
		<div>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
        </div>

		} else {
		
		<div>
            <p>@container?.Name</p>
            <p>@container?.Image</p>
			@if (container.Ports != null) {
                @if (container.Ports.Count == 0) {
                    <p>None exposed</p>
                } else {
                    <p>@for (int i = 0; i < container.Ports.Count; i++) { 
                        @* next last element *@
                        if (i <= container.Ports.Count - 2) {
                            @($"{@container.Ports[i]}, ") 
                        } else {
                            @container.Ports[i]
                        }
                    }</p>
                }
			}
			
			@if (container.Env != null) {
                @if (container.Env.Count == 0) {
                    <p>None</p>
                } else {
                    <p>@for (int i = 0; i < container.Env.Count; i++) { 
                        @* next last element *@
                        if (i <= container.Env.Count - 2) {
                            @($"{@container.Env[i]}, ") 
                        } else {
                            @container.Env[i]
                        }
                    }</p>
                }
			}
        </div>

		}
    </div>
</div>

<div style="display: flex; gap: 1rem;">
    <button @onclick="StartContainer">Start</button>
    <button @onclick="StopContainer">Stop</button>
    <button @onclick="RestartContainer">Restart</button>
    <button @onclick="RemoveContainer">Remove</button>
</div>

<div style="margin-top: 2rem;">
    <p>Logs:</p>
    <ul style="width: 100%; height: 30rem; overflow-y: scroll; outline: 1px solid gray; list-style-type: none;">
        @foreach (string log in logs)
        {
            <li>@log</li>
        }
    </ul>
</div>

@code {
    [Parameter] public string name { get; set; } = "";

    private PicoContainer? container = null;
    private List<string> logs = new List<string>();

    protected override async Task OnInitializedAsync() {
		Api.initialize("http://localhost:8080");
        await FetchContainer();
        await FetchLogs();
    }

    private async Task FetchContainer() {
        try {
            container = await Api.Get<PicoContainer>("containers/" + name);
        } catch (Exception e) {
            Console.WriteLine(e);
        }
        StateHasChanged();
    }

    private async Task FetchLogs() {
        try {
            logs = await Api.Get<List<string>>("containers/" + name + "/logs");
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }

    private async Task StartContainer() {
        try {
            await Api.Put<PicoContainer>("containers/" + name + "/start", name);
            StateHasChanged();
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }

    private async Task StopContainer() {
        try {
            await Api.Put<PicoContainer>("containers/" + name + "/stop", name);
            StateHasChanged();
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }

    private async Task RestartContainer() {
        try {
            await Api.Put<PicoContainer>("containers/" + name + "/restart", name);
            StateHasChanged();
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }

    private async Task RemoveContainer() {
        try {
            await Api.Delete<PicoContainer>("containers/" + name);
            _nav.NavigateTo("/");
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }
}